.textInput {
  display: block;
  padding: 0.8rem;
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #dcdcdd;
  border-radius: 0.2rem;
}

.form {
  width: 32rem;
  margin: 0 auto;
}

.label {
  line-height: 1.75;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  display: block;
}

.signInBtn {
  border: 0;
  background: none;
  font-size: 1.6rem;
  background-color: #1985a1;
  color: #fff;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMsg {
  color: red;
  font-size: 1.4rem;
  display: block;
}
